*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
    
}
body{
    font-family:"Helvetica Neue",Helvetica, "Microsoft YaHei", Arial, STHeiTi, sans-serif;
    color:#777777;
}
a{text-decoration: none}

.el-badge__content{
    border:0px !important;
}
.content{
    background: none repeat scroll 0 0 #d9d9d9;
    position: absolute;
    left: 200px;
    right: 0;
    top: 66px;
    bottom:0;
    width: auto;
    padding:40px;
    box-sizing: border-box;
    overflow-y: scroll;
}