*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
    
}
body{
    font-family:"Helvetica Neue",Helvetica, "Microsoft YaHei", Arial, STHeiTi, sans-serif;
    color:#777777;
}
a{text-decoration: none}

.el-badge__content{
    border:0px !important;
}
.content{
    background: none repeat scroll 0 0 #f0f3f4;
    position: absolute;
    left: 200px;
    right: 0;
    top: 66px;
    bottom:0;
    width: auto;
    padding:25px 40px 25px 40px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.clear{
    width:100%;
    height:0px;
    clear:both;
}
.ql-editor{
    background-color: #fff;
      min-height: 20em;
      padding-bottom: 1em;
    max-height: 25em;
}
.ql-toolbar{
    background-color: #fff;
}